doctype html
html

  head

    meta(charset="utf-8")

    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    title Hello World

    meta(name="description", content="Hello World")

    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui")

    link(rel="stylesheet", href="assets/styles/main.css", type="text/css")
    link(rel="stylesheet", href="stylesheet.css", type="text/css", charset="utf-8")

  body

    .wrapper

      h1 The Chat Machine

      div.messages
      
      div#users
        p.title Users
      
      
    .wrapper2
      
      textarea#messagebox(name='messagebox')
      
      
      #emoticonbox
        a(href="#",  title=":)")
          img(alt=":)", src="http://markitup.jaysalvat.com/examples/markitup/sets/bbcode/images/emoticon-happy.png")
        a(href="#", title=":(")
          img(alt=":(", src="http://markitup.jaysalvat.com/examples/markitup/sets/bbcode/images/emoticon-unhappy.png")
        a(href="#", title=":o")
          img(alt=":o", src='http://markitup.jaysalvat.com/examples/markitup/sets/bbcode/images/emoticon-surprised.png')


      a.sendbtn(href="#", onclick="clearme()") Send
      
      
  
     

    script(type="text/javascript", src="https://code.jquery.com/jquery-2.1.1.min.js")

    script(type="text/javascript", src="https://cdn.socket.io/socket.io-1.1.0.js")

    script(type="text/javascript", src="assets/scripts/main.js")


    //https://www.youtube.com/watch?v=dOSIqJWQkXM
  